# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environment folders
env/
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/*

# Ignore system files
.DS_Store
Thumbs.db